.box {
    min-width: 100%;
    min-height: 3rem;

    padding: 1rem;
    margin-bottom: 1rem;

    display: flex;
    flex-direction: column;

    border: 1px solid #ccc;
    border-radius: 8px;
}

.box-container {
    min-width: 100%;
    min-height: 3rem;

    padding: 1rem;
    margin-bottom: 1rem;

    display: flex;
    flex-direction: column;

    border: 1px solid #ccc;
    border-radius: 8px;
}

button {
    background-color: #f82b2b;
    padding: 0.25rem 0.5rem;
    border-radius: 8px;
    color: #ffffff;
}